.footer {
  display: flex;
}

.footer__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 171px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 500;
}
